* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-family:Arial, Helvetica, sans-serif
  font-size: 100%;
  background: linear-gradient(68.15deg, #0f59f8 16.62%, #077894 85.61%);
}

.menu{
color:rgb(0, 0, 0)
}
